body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: orange;
    
}
.head{
    /*background-color: #333333;*/
    color: rgb(9, 9, 172);
    padding: 20px;
}
.headtx{
    color: red;
}   

#bglime{
    background-color: lime;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
}
p{
    color: white;
}
#para{
    color: green;

}
.pg{
    color: black;
    font-size: 20px;
}
.ul1{
    background-color: yellow;
}
.ul2{
    background-color: blue;
}
#oli2{
    color: red;
}   

#oli3{
    color: green;
}